<div class="p-5 row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 g-3">
  <div class="col p-0" *ngFor="let appointment of appointmentsHistory">
    <app-appointment-card [appointment]="appointment" [isCurrent]="false" [forProfile]="true"></app-appointment-card>
  </div>
</div>

<!--No Results-->
<ng-container *ngIf="appointmentsHistory?.length == 0">
  <app-no-results message="No appointments history. Create an appointment and after it expires, it will be displayed here." />
</ng-container>

<!--Loading-->
<ng-container *ngIf="!loaded">
  <app-loading />
</ng-container>
