<div class="container" *ngIf="sportFieldsLoaded">
  <div class="container text-center">
    <!-- Filter & Sort button -->
    <a class="btn btn-dark btn-outline-white btn-floating m-3" role="button" (click)="openFilterAndSortDialog()"> Open filter & sort options </a>

    <!--Filter chips options-->
    <mat-chip-set>
      <mat-chip *ngFor="let option of filterAndSortOptions | keyvalue" (removed)="removeFilterOption(option.key)" highlighted>
        {{ option.key + ": " + option.value }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-set>

    <!--Search by name-->
    <div class="d-flex w-50 ms-auto me-auto">
      <input [(ngModel)]="searchName" class="form-control" name="searchByName" placeholder="Search By Name" aria-label="Search By Name" />
      <button class="btn btn-dark" (click)="onSearch()">Search</button>
    </div>

    <a class="btn btn-outline-dark mt-2" (click)="onReset()">Reset</a>
  </div>

  <!--Sport fields cards-->
  <div class="p-5 row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-3">
    <div class="col p-0" *ngFor="let sportField of sportFields">
      <app-sport-field-card
        [sportField]="sportField"
        (prepareDeleteField)="onPrepareDeleteField($event)"
        (deleteField)="onDeleteField()"
      ></app-sport-field-card>
    </div>
  </div>

  <!--No Results-->
  <ng-container *ngIf="sportFields.length == 0">
    <app-no-results message="There where 0 sport fields fetched..." />
  </ng-container>
</div>

<!--Loading-->
<ng-container *ngIf="!sportFieldsLoaded">
  <app-loading />
</ng-container>
