<mat-drawer-container autosize>
  <mat-drawer #drawer class="text-white bg-dark m-2 rounded" mode="side">
    <div class="container">
      <p>Auto-resizing sidenavdsaaaaaaaaaaaaaaaaa</p>
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control bg-dark text-white" id="exampleInputEmail1" aria-describedby="emailHelp" value="name@example.com" />
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control bg-dark text-white" id="exampleInputPassword1" />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control bg-dark text-white" id="exampleInputPassword2" />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control bg-dark text-white" id="exampleInputPassword3" />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control bg-dark text-white" id="exampleInputPassword4" />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control bg-dark text-white" id="exampleInputPassword5" />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-outline-light btn-floating mt-1">Submit</button>
        </div>
      </form>
    </div>
  </mat-drawer>

  <div>
    <div class="text-center">
      <button type="button" class="btn btn-dark mt-3" (click)="drawer.toggle(); sideNavOpened = !sideNavOpened">Toggle filter & sort options</button>
    </div>

    <div *ngFor="let i of [0, 1, 2, 3, 4]" class="card-group m-5">
      <ng-container *ngFor="let i of sideNavOpened ? [0, 1, 2] : [0, 1, 2, 3]">
        <app-sport-field-card #wrapper [sportField]="sportField"></app-sport-field-card>
        <ng-content *ngTemplateOutlet="wrapper.sportFieldCardComponentTemplate"></ng-content>
      </ng-container>
    </div>
  </div>
</mat-drawer-container>
