<ng-container *ngIf="loaded">
  <!--HEADER-->
  <app-specific-sport-field-header [sportField]="sportField" [isScheduleSet]="isScheduleSet()" />

  <!--SCHEDULE-->
  <app-specific-sport-field-schedule [sportField]="sportField" [isScheduleSet]="isScheduleSet()" (scheduleChange)="onScheduleChanged($event)" />

  <!--IMAGES-->
  <app-specific-sport-field-images
    [sportField]="sportField"
    (imagesChangeMessage)="onImagesChange($event)"
    (primaryImageChange)="onPrimaryImageChange($event)"
  />

  <!--APPOINTMENTS-->
  <app-specific-sport-field-appointments *ngIf="shouldElementDisplay()" [sportField]="sportField" />
</ng-container>

<!--Loading-->
<ng-container *ngIf="!loaded">
  <app-loading />
</ng-container>

<!--MAP-->
<app-specific-sport-field-map [sportField]="sportField" (locationChange)="onLocationChanged($event)" />
