<ng-container *ngIf="sportField">
  <!--HEADER-->
  <div class="container-fluid bg-dark text-white text-center p-0">
    <div class="pt-5 pb-5" style="background-color: rgba(0, 0, 0, 0.2)">
      <h1 class="fst-italic fw-bold mb-5">{{ sportField.name }}</h1>
      <h4 *ngIf="sportField.description" class="fst-italic fw-bold mb-5">{{ sportField.description }}</h4>
      <h6>
        <span class="fst-italic fw-bold">Country: </span><span>{{ sportField.address.country }}</span>
      </h6>
      <h6>
        <span class="fst-italic fw-bold">City: </span><span>{{ sportField.address.city }}</span>
      </h6>
      <h6>
        <span class="fst-italic fw-bold">Street: </span><span>{{ sportField.address.street }}</span>
      </h6>
      <h6>
        <span class="fst-italic fw-bold">Number: </span><span>{{ sportField.address.number }}</span>
      </h6>
      <h4 class="fst-italic fw-bold mt-5">{{ sportField.pricePerHour + "$ / hour" }}</h4>
    </div>
  </div>

  <!--SCHEDULE-->
  <div class="row align-items-md-stretch m-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark rounded-3 text-center">
        <h2 class="mb-4">Schedule</h2>

        <ng-container *ngIf="sportField.schedule">
          <div class="row">
            <div class="col fst-italic fw-bold text-end">
              <p>Monday:</p>
              <p>Tuesday:</p>
              <p>Wednesday:</p>
              <p>Thursday:</p>
              <p>Friday:</p>
              <p>Saturday:</p>
              <p>Sunday:</p>
            </div>

            <div class="col text-start">
              <p>
                {{
                  sportField.schedule.mondayStart && sportField.schedule.mondayEnd
                    ? sportField.schedule.mondayStart + " - " + sportField.schedule.mondayEnd
                    : "-"
                }}
              </p>
              <p>
                {{
                  sportField.schedule.tuesdayStart && sportField.schedule.tuesdayEnd
                    ? sportField.schedule.tuesdayStart + " - " + sportField.schedule.tuesdayEnd
                    : "-"
                }}
              </p>
              <p>
                {{
                  sportField.schedule.wednesdayStart && sportField.schedule.wednesdayEnd
                    ? sportField.schedule.wednesdayStart + " - " + sportField.schedule.wednesdayEnd
                    : "-"
                }}
              </p>
              <p>
                {{
                  sportField.schedule.thursdayStart && sportField.schedule.thursdayEnd
                    ? sportField.schedule.thursdayStart + " - " + sportField.schedule.thursdayEnd
                    : "-"
                }}
              </p>
              <p>
                {{
                  sportField.schedule.fridayStart && sportField.schedule.fridayEnd
                    ? sportField.schedule.fridayStart + " - " + sportField.schedule.fridayEnd
                    : "-"
                }}
              </p>
              <p>
                {{
                  sportField.schedule.saturdayStart && sportField.schedule.saturdayEnd
                    ? sportField.schedule.saturdayStart + " - " + sportField.schedule.saturdayEnd
                    : "-"
                }}
              </p>
              <p>
                {{
                  sportField.schedule.sundayStart && sportField.schedule.sundayEnd
                    ? sportField.schedule.sundayStart + " - " + sportField.schedule.sundayEnd
                    : "-"
                }}
              </p>
            </div>
          </div>

          <button class="btn btn-outline-light" type="button" (click)="openScheduleDialog()">Edit Schedule</button>
        </ng-container>

        <button *ngIf="!sportField.schedule" class="btn btn-outline-light" type="button" (click)="openScheduleDialog()">Add Schedule</button>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <!--IMAGES-->
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8]" class="col">
          <div class="card text-white bg-dark">
            <img src="../../../../assets/images/sport_field_no_image.jpg" class="card-img-top" alt="Sport Field image" />
            <div class="card-footer text-center p-0" style="background-color: rgba(0, 0, 0, 0.2)">
              <button class="btn btn-dark btn-floating" style="display: block; width: 100%">Mark image as primary</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!--MAP-->
<div class="d-flex bg-light justify-content-end">
  <button [disabled]="!markerPositionChanged" class="btn btn-dark btn-outline-white btn-floating" (click)="onSaveNewLocationMarker()">
    Save new location marker
  </button>
  <button [disabled]="!markerPositionChanged" class="btn btn-dark btn-outline-white btn-floating" (click)="onResetLocationMarker()">
    Reset location marker
  </button>
</div>
<div class="map-container" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)" (leafletClick)="mapClicked($event)"></div>
