<div class="card text-white bg-dark m-2 h-100">
  <div class="card-header text-center fst-italic fw-bold fs-5 mb-3" style="background-color: rgba(0, 0, 0, 0.2)">
    {{ isCurrent ? "Future Appointment" : "Old Appointment" }}
  </div>
  <div class="card-body pb-0 mb-0">
    <div class="row">
      <div class="col text-center">
        <p class="fw-bold fst-italic">Start date:</p>
      </div>
      <div class="col text-start">
        <p>{{ appointment.startDateTime }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="fw-bold fst-italic">End date:</p>
      </div>
      <div class="col text-start">
        <p>{{ appointment.endDateTime }}</p>
      </div>
    </div>
  </div>
  <div class="card-footer text-center">
    <a class="text-white fst-italic" [routerLink]="['/sport-field', appointment.sportFieldId]">See Field</a>
  </div>
  <div *ngIf="isCurrent" class="card-footer text-center p-0" style="background-color: rgba(0, 0, 0, 0.2)">
    <button
      class="btn btn-dark btn-floating"
      style="display: block; width: 100%"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      (click)="onPrepareCancelAppointment()"
    >
      Cancel Appointment
    </button>
  </div>
</div>

<!--Cancel appointment modal-->
<app-custom-modal
  title="Cancel Appointment Confirmation"
  text="Are you sure you want to cancel this appointment?"
  (yesClicked)="onCancelAppointment()"
/>
