<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <div>
      <a class="btn btn-outline-light btn-floating m-1" routerLink="/home" routerLinkActive="active" role="button">Home</a>
      <a class="btn btn-outline-light btn-floating m-1" routerLink="/sport-fields" routerLinkActive="active" role="button">Sport Fields</a>
    </div>
    <div>
      <a class="btn btn-outline-light btn-floating m-1" role="button">Login</a>
      <a class="btn btn-outline-light btn-floating m-1" role="button">Register</a>
    </div>
  </div>
</nav>
