<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <div>
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
        >Home</a
      >
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="/sport-fields"
        role="button"
        >Sport Fields</a
      >
    </div>
    <div>
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
        >Login</a
      >
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
        >Register</a
      >
    </div>
  </div>
</nav>
