<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <div>
      <a class="btn btn-outline-light btn-floating m-1" routerLink="/home" routerLinkActive="active" role="button">Home</a>
      <a class="btn btn-outline-light btn-floating m-1" routerLink="/sport-fields" routerLinkActive="active" role="button">Sport Fields</a>
      <a class="btn btn-outline-light btn-floating m-1" routerLink="/appointment-posts" routerLinkActive="active" role="button">Appointment Posts</a>
    </div>
    <div *ngIf="!isLoggedIn()">
      <a class="btn btn-outline-light btn-floating m-1" routerLink="/login" routerLinkActive="active" role="button">Login</a>
      <a class="btn btn-outline-light btn-floating m-1" routerLink="/register" routerLinkActive="active" role="button">Register</a>
    </div>
    <div *ngIf="isLoggedIn()">
      <a class="btn btn-outline-light btn-floating m-1" routerLink="/profile" routerLinkActive="active" role="button">Profile</a>
      <button class="btn btn-outline-light btn-floating m-1" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</button>
    </div>
  </div>
</nav>

<!--Logout modal-->
<app-custom-modal backdropId="logoutModal" title="Logout Confirmation" text="Are you sure you want to logout?" (yesClicked)="logout()" />
