<div class="card text-white text-center bg-dark m-2 h-100">
  <img
    [src]="
      sportField.primaryImage ? 'data:image/jpeg;base64,' + sportField.primaryImage.byteArray : '../../../../assets/images/sport_field_no_image.jpg'
    "
    class="card-img-top"
    alt="Sport Field image"
  />
  <div class="card-body pb-0">
    <h5 class="card-title fst-italic">{{ sportField.name }}</h5>
    <p class="card-title fst-italic fw-bold mb-3">{{ (sportField.type ? "- " + sportField.type + " Field -" : "- Field -") | titlecase }}</p>
    <p class="card-text">
      <span class="fst-italic fw-bold">Address: </span>
      {{ sportField.address.country + ", " + sportField.address.city + ", " + sportField.address.street + ", " + sportField.address.number }}
    </p>
  </div>
  <div class="card-footer text-center">
    <small class="fw-bold fst-italic">{{ sportField.pricePerHour + "$ / hour" }}</small>
  </div>
  <div *ngIf="forProfile" class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.2)">
    <button class="btn btn-outline-light mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#fieldDeleteModal" (click)="onPrepareDeleteField()">
      Delete Sport Field
    </button>
  </div>
  <div class="card-footer bg-light text-center p-0">
    <a class="btn btn-outline-dark card-footer-button" [routerLink]="['/sport-field', sportField.id]" role="button">See Field</a>
  </div>
</div>

<!--Delete field modal-->
<app-custom-modal
  backdropId="fieldDeleteModal"
  title="Delete Field Confirmation"
  text="Are you sure you want to delete this field? The current appointments of this field will be deleted as well."
  (yesClicked)="onDeleteField()"
/>
