<div class="row m-5 d-flex justify-content-center">
  <!--Calendar-->
  <div class="col-md-4">
    <h3 class="text-center mb-3 fst-italic">Pick a day</h3>
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar [(selected)]="selectedDate" [minDate]="minDate" (selectedChange)="onDaySelected()"></mat-calendar>
    </mat-card>
  </div>

  <!--Time inputs-->
  <div class="col-md-4 text-center">
    <h3 class="text-center mb-3 fst-italic">Pick a range time</h3>
    <div class="input-group mb-2 w-50 container p-0">
      <input
        class="form-control"
        [format]="24"
        [(ngModel)]="startTime"
        [ngxMatTimepicker]="pickerStart"
        [disabled]="!this.minTime || !this.maxTime"
        id="startInput"
        placeholder="Start Time"
        readonly
      />
      <span class="input-group-append">
        <button class="btn btn-outline-dark no-border-start" type="button" [disabled]="!this.minTime || !this.maxTime" (click)="pickerStart.open()">
          <i class="fa fa-clock"></i>
        </button>
      </span>
      <div class="ngx-mtp-box-bordered">
        <ngx-mat-timepicker appendToInput="true" #pickerStart></ngx-mat-timepicker>
      </div>
    </div>

    <div class="input-group mb-2 w-50 container p-0">
      <input
        class="form-control"
        [format]="24"
        [(ngModel)]="endTime"
        [ngxMatTimepicker]="pickerEnd"
        [disabled]="!this.minTime || !this.maxTime"
        id="endInput"
        placeholder="End Time"
        readonly
      />
      <span class="input-group-append">
        <button class="btn btn-outline-dark no-border-start" type="button" [disabled]="!this.minTime || !this.maxTime" (click)="pickerEnd.open()">
          <i class="fa fa-clock"></i>
        </button>
      </span>
      <div class="ngx-mtp-box-bordered">
        <ngx-mat-timepicker appendToInput="true" #pickerEnd></ngx-mat-timepicker>
      </div>
    </div>

    <button class="btn btn-dark w-50" type="button" (click)="onRentClicked()" [disabled]="isAppointmentInvalid()">Rent it</button>
    <p *ngIf="errorMessage" class="text-danger fst-italic">
      <small>{{ "*" + errorMessage }}</small>
    </p>

    <!--Field Schedule-->
    <app-schedule [schedule]="schedule"></app-schedule>
  </div>
</div>

<div class="row m-0 d-flex justify-content-center border-top bg-light py-4">
  <!--Current Appointments-->
  <div class="col-md-4 text-center">
    <h3 class="text-center mb-3 fst-italic">Current Appointments</h3>
    <p *ngIf="!currentAppointments" class="fw-bold">Please select a day!</p>
    <p *ngIf="currentAppointments && currentAppointments.length == 0" class="fw-bold">All day is free!</p>
    <div *ngIf="currentAppointments && currentAppointments.length > 0">
      <div *ngFor="let appointment of currentAppointments">
        <p class="fw-bold text-danger">
          {{ (appointment.startDateTime | formatAppointmentDate : "HH:mm") + " - " + (appointment.endDateTime | formatAppointmentDate : "HH:mm") }}
        </p>
      </div>
    </div>
  </div>

  <!--Free Appointments-->
  <div class="col-md-4 text-center">
    <h3 class="text-center mb-3 fst-italic">Free Slots</h3>
    <p *ngIf="!currentAppointments" class="fw-bold">Please select a day!</p>
    <p *ngIf="currentAppointments && currentAppointments.length == 0" class="fw-bold">All day is free!</p>
    <div *ngIf="currentAppointments && currentAppointments.length > 0">
      <div *ngFor="let slot of generateFreeSlots()">
        <p class="fw-bold text-success">
          {{ (slot.startDateTime | formatAppointmentDate : "HH:mm") + " - " + (slot.endDateTime | formatAppointmentDate : "HH:mm") }}
        </p>
      </div>
    </div>
  </div>
</div>
