<div class="bg-light border-top">
  <div *ngIf="currentAppointments" class="container text-center">
    <!-- Toggle options -->
    <div class="btn-group d-flex" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked (click)="showCurrentAppointments()" />
      <label class="btn btn-outline-dark w-100" for="btnradio1">Current Appointments</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (click)="showAppointmentsHistory()" />
      <label class="btn btn-outline-dark w-100" for="btnradio2">Appointments History</label>
    </div>

    <!-- Current Appointments -->
    <div
      *ngIf="selectedOption === ProfileOptionsType.CURRENT_APPOINTMENTS"
      class="p-5 row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 g-3"
    >
      <div class="col p-0" *ngFor="let appointment of currentAppointments">
        <app-appointment-card
          [appointment]="appointment"
          [isCurrent]="true"
          (prepareCancelAppointment)="onPrepareCancelAppointment($event)"
          (cancelAppointment)="onCancelAppointment()"
        ></app-appointment-card>
      </div>
    </div>

    <!-- No Current Appointments -->
    <ng-container *ngIf="selectedOption === ProfileOptionsType.CURRENT_APPOINTMENTS && currentAppointments?.length === 0">
      <app-no-results message="There are no appointments made yet." />
    </ng-container>

    <!-- Appointments History -->
    <div
      *ngIf="selectedOption === ProfileOptionsType.APPOINTMENTS_HISTORY"
      class="p-5 row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 g-3"
    >
      <div class="col p-0" *ngFor="let appointment of appointmentsHistory">
        <app-appointment-card [appointment]="appointment" [isCurrent]="false"></app-appointment-card>
      </div>
    </div>

    <!-- No Appointments History -->
    <ng-container *ngIf="selectedOption === ProfileOptionsType.APPOINTMENTS_HISTORY && appointmentsHistory?.length === 0">
      <app-no-results message="There is no appointments history yet." />
    </ng-container>
  </div>
</div>
