<div class="container-fluid">
  <div class="p-5 row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-3 g-3">
    <div class="col p-0">
      <div class="card text-white bg-dark m-2 h-100">
        <img src="../../../assets/images/home_image_1.jpg" class="card-img-top" alt="Sport fields image" />
        <div class="card-body">
          <h5 class="card-title mb-3 fst-italic">Do you want to rent a field to do some sport?</h5>
          <p class="card-text">
            This is the perfect place to do that. Any sport you want to do (football, basketball, tennis, etc.), there is a field you can rent here.
            There are a variety of filters and features that can help you find the perfect field.
          </p>
        </div>
        <div class="card-footer text-center">
          <a class="btn btn-outline-light btn-floating mt-2 mb-2" routerLink="/sport-fields" role="button">Rent now</a>
        </div>
      </div>
    </div>

    <div class="col p-0">
      <div class="card text-white bg-dark m-2 h-100">
        <img src="../../../assets/images/home_image_2.jpeg" class="card-img-top" alt="Register field image" />
        <div class="card-body">
          <h5 class="card-title mb-3 fst-italic">Do you have some sport fields for rent?</h5>
          <p class="card-text">
            We got you covered. Here you can register any fields you have, set a schedule, then others can easily rent them. You don't even need to
            interact with the people. It's so easy.
          </p>
        </div>
        <div class="card-footer text-center">
          <a class="btn btn-outline-light btn-floating mt-2 mb-2" routerLink="/new-sport-field" role="button">Add sport field</a>
        </div>
      </div>
    </div>

    <div class="col p-0">
      <div class="card text-white bg-dark m-2 h-100">
        <img src="../../../assets/images/home_image_3.jpg" class="card-img-top" alt="Find friends image" />
        <div class="card-body">
          <h5 class="card-title mb-3 fst-italic">Do you need some new friends to play with?</h5>
          <p class="card-text">
            We have a solution for that too. After you rented a field, you can do a public post so others can also join and have fun with you. Set a
            limit of people that can join and then just wait for them to apply.
          </p>
        </div>
        <div class="card-footer text-center">
          <a class="btn btn-outline-light btn-floating mt-2 mb-2" routerLink="/appointment-posts" role="button">See posts</a>
        </div>
      </div>
    </div>
  </div>
</div>
