<ng-template #sportFieldCardComponentTemplate>
  <div class="card text-white bg-dark m-3">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" alt="Palm Springs Road" />
    <div class="card-body">
      <h5 class="card-title">{{ sportField.name }}</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
  </div>
</ng-template>
