<div class="card text-white bg-dark m-2 h-100">
  <button
    *ngIf="isCurrent"
    type="button"
    class="btn-close m-2"
    aria-label="Delete"
    style="position: absolute"
    data-bs-toggle="modal"
    data-bs-target="#appointmentCancelModal"
    (click)="onPrepareCancelAppointment()"
  ></button>
  <div class="card-header bg-light text-dark text-center fst-italic fw-bold mb-3" style="background-color: rgba(0, 0, 0, 0.2)">
    {{ isCurrent ? "Future Appointment" : "Old Appointment" }}
  </div>
  <div class="card-body pb-0 mb-0">
    <div class="row">
      <div class="col text-center">
        <p class="fw-bold fst-italic">Start date:</p>
      </div>
      <div class="col text-start">
        <p>{{ appointment.startDateTime }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="fw-bold fst-italic">End date:</p>
      </div>
      <div class="col text-start">
        <p>{{ appointment.endDateTime }}</p>
      </div>
    </div>
  </div>
  <div class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.2)">
    <a *ngIf="forProfile" class="btn btn-outline-light btn-floating mt-2 mb-2" [routerLink]="['/sport-field', appointment.sportFieldId]" role="button"
      >Visit</a
    >
    <p *ngIf="!forProfile">
      <span>Created by: </span><span class="fw-bold fst-italic">{{ appointment.createdBy }}</span>
    </p>
  </div>
</div>

<!--Cancel appointment modal-->
<app-custom-modal
  backdropId="appointmentCancelModal"
  title="Cancel Appointment Confirmation"
  text="Are you sure you want to cancel this appointment?"
  (yesClicked)="onCancelAppointment()"
/>
