<div class="card text-white bg-dark m-2 h-100">
  <button
    *ngIf="isCurrent"
    type="button"
    class="btn-close m-2"
    aria-label="Delete"
    style="position: absolute"
    data-bs-toggle="modal"
    data-bs-target="#appointmentCancelModal"
    (click)="onPrepareCancelAppointment()"
  ></button>
  <div class="card-header bg-light text-dark text-center fst-italic fw-bold mb-3" style="background-color: rgba(0, 0, 0, 0.2)">
    {{ isCurrent ? "Future Appointment" : "Old Appointment" }}
  </div>
  <div class="card-body pb-0 mb-0">
    <h5 class="fst-italic text-center mb-4">{{ appointment.sportFieldName }}</h5>
    <div class="row">
      <div class="col text-center">
        <p class="fw-bold fst-italic">Start date:</p>
      </div>
      <div class="col text-start">
        <p>{{ appointment.startDateTime | formatAppointmentDate }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="fw-bold fst-italic">End date:</p>
      </div>
      <div class="col text-start">
        <p>{{ appointment.endDateTime | formatAppointmentDate }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="!forProfile" class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.2)">
    <span>Created by: </span><span class="fw-bold fst-italic">{{ appointment.createdBy }}</span>
  </div>
  <div *ngIf="forProfile && isCurrent" class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.2)">
    <button class="btn btn-outline-light mt-2 mb-2" (click)="openAppointmentPostDialog()">Add Appointment Post</button>
  </div>
  <div *ngIf="forProfile" class="card-footer bg-light text-center p-0">
    <a class="btn btn-outline-dark card-footer-button" [routerLink]="['/sport-field', appointment.sportFieldId]" role="button">See Field</a>
  </div>
</div>

<!--Cancel appointment modal-->
<app-custom-modal
  backdropId="appointmentCancelModal"
  title="Cancel Appointment Confirmation"
  text="Are you sure you want to cancel this appointment?"
  (yesClicked)="onCancelAppointment()"
/>
