<h3 class="text-center mt-4 mb-3 fst-italic">Schedule</h3>
<ng-container>
  <div class="row">
    <div class="col fst-italic fw-bold text-end">
      <p>Monday:</p>
      <p>Tuesday:</p>
      <p>Wednesday:</p>
      <p>Thursday:</p>
      <p>Friday:</p>
      <p>Saturday:</p>
      <p>Sunday:</p>
    </div>

    <div class="col text-start">
      <p>
        {{ schedule?.mondayStart && schedule?.mondayEnd ? schedule?.mondayStart + " - " + schedule?.mondayEnd : "-" }}
      </p>
      <p>
        {{ schedule?.tuesdayStart && schedule?.tuesdayEnd ? schedule?.tuesdayStart + " - " + schedule?.tuesdayEnd : "-" }}
      </p>
      <p>
        {{ schedule?.wednesdayStart && schedule?.wednesdayEnd ? schedule?.wednesdayStart + " - " + schedule?.wednesdayEnd : "-" }}
      </p>
      <p>
        {{ schedule?.thursdayStart && schedule?.thursdayEnd ? schedule?.thursdayStart + " - " + schedule?.thursdayEnd : "-" }}
      </p>
      <p>
        {{ schedule?.fridayStart && schedule?.fridayEnd ? schedule?.fridayStart + " - " + schedule?.fridayEnd : "-" }}
      </p>
      <p>
        {{ schedule?.saturdayStart && schedule?.saturdayEnd ? schedule?.saturdayStart + " - " + schedule?.saturdayEnd : "-" }}
      </p>
      <p>
        {{ schedule?.sundayStart && schedule?.sundayEnd ? schedule?.sundayStart + " - " + schedule?.sundayEnd : "-" }}
      </p>
    </div>
  </div>
</ng-container>
