<div
  class="map-container border-top border-dark"
  leaflet
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)"
  (leafletClick)="mapClicked($event)"
>
  <div showControl [ownedBy]="sportField.createdBy" *ngIf="sportField" class="d-flex justify-content-end" style="position: relative; z-index: 1000">
    <button [disabled]="!markerPositionChanged" class="btn btn-light btn-outline-dark btn-floating" (click)="onSaveNewLocationMarker($event)">
      Save new location marker
    </button>
    <button [disabled]="!markerPositionChanged" class="btn btn-light btn-outline-dark btn-floating" (click)="onResetLocationMarker($event)">
      Reset location marker
    </button>
  </div>
</div>
