<div class="p-5 row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 g-3">
  <div class="col p-0" *ngFor="let appointmentPost of appointmentPosts">
    <app-appointment-post-card
      [appointmentPost]="appointmentPost"
      (prepareDeleteAppointmentPost)="onPrepareDeleteAppointmentPost($event)"
      (deleteAppointmentPost)="onDeleteAppointmentPost()"
      (appointmentPostUpdated)="onAppointmentPostUpdated()"
    ></app-appointment-post-card>
  </div>
</div>

<!--No Results-->
<ng-container *ngIf="appointmentPosts?.length == 0">
  <app-no-results
    message="You didn't create an appointment post. Go to the Current Appointments tab and choose an appointment if you want to create a post."
  />
</ng-container>

<!--Loading-->
<ng-container *ngIf="!loaded">
  <app-loading />
</ng-container>
