<div class="p-5" style="background-color: rgba(0, 0, 0, 0.1)">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 justify-content-center">
    <div class="col">
      <div class="card text-center">
        <div class="card-header bg-dark text-white">
          <h2 class="fw-bold fst-italic">Login</h2>
        </div>

        <div class="card-body container p-5">
          <form>
            <app-custom-input [(model)]="username" field="username" type="text" label="Username" />
            <app-custom-input [(model)]="password" field="password" type="password" label="Password" />
          </form>
          <ng-container *ngIf="badCredentials">
            <p class="text-danger mb-1">*Wrong username or password</p>
            <p class="mb-0">You forgot your password? Then <a class="text-dark" (click)="resetPassword()">reset</a>!</p>
          </ng-container>
        </div>

        <div class="card-footer bg-dark text-white">
          <button class="btn btn-outline-light btn-floating m-1" (click)="login()">Submit</button>
        </div>
      </div>

      <p class="text-center mt-5 fst-italic">You don't have an account? Then <a class="text-dark" routerLink="/register">register</a>!</p>
    </div>
  </div>
</div>
