<h1 mat-dialog-title class="bg-dark text-white text-center mb-4">Filter & Sort</h1>

<div mat-dialog-content>
  <form>
    <div class="row mb-3">
      <label for="price" class="col-sm-3 col-form-label">Price Range:</label>
      <div class="col-sm-4">
        <input
          type="number"
          [(ngModel)]="data.filterAndSortOptions.minPrice"
          class="form-control"
          min="0"
          id="minPrice"
          name="minPrice"
          placeholder="Min Price"
        />
      </div>
      <div class="col-sm-4">
        <input
          type="number"
          [(ngModel)]="data.filterAndSortOptions.maxPrice"
          class="form-control"
          min="0"
          id="maxPrice"
          name="maxPrice"
          placeholder="Max Price"
        />
      </div>
    </div>

    <div class="row mb-3">
      <label for="date" class="col-sm-3 col-form-label">Free Between:</label>
      <div class="col-sm-4">
        <input type="datetime" class="form-control" id="startDate" name="startDate" placeholder="Start Date" />
      </div>
      <div class="col-sm-4">
        <input type="datetime" class="form-control" id="endDate" name="endDate" placeholder="End Date" />
      </div>
    </div>

    <div class="row mb-3">
      <label for="country" class="col-sm-3 col-form-label">Country:</label>
      <div class="col-sm-8">
        <input type="text" [(ngModel)]="data.filterAndSortOptions.country" class="form-control" id="country" name="country" placeholder="Country" />
      </div>
    </div>

    <div class="row mb-3">
      <label for="city" class="col-sm-3 col-form-label">City:</label>
      <div class="col-sm-8">
        <input type="text" [(ngModel)]="data.filterAndSortOptions.city" class="form-control" id="city" name="city" placeholder="City" />
      </div>
    </div>
  </form>

  <div *ngIf="!areFilterOptionsValid()" class="text-center text-danger">{{ "*" + invalidMessage }}</div>
</div>

<div mat-dialog-actions class="bg-dark text-white">
  <button class="btn btn-outline-light me-auto" type="button" (click)="onCancelClick()">Cancel</button>
  <button class="btn btn-outline-light" type="button" (click)="onSaveClick()" [disabled]="invalidMessage">Save</button>
</div>
