<!-- HEADER -->
<div *ngIf="user" class="container-fluid border-bottom bg-light text-center p-5">
  <h1 class="fst-italic fw-bold mb-5">{{ user.lastName + " " + user.firstName }}</h1>
  <h6>
    <span class="fst-italic fw-bold">Username: </span><span>{{ user.username }}</span>
  </h6>
  <h6>
    <span class="fst-italic fw-bold">Email: </span><span>{{ user.email }}</span>
  </h6>
  <h6>
    <span class="fst-italic fw-bold">Phone number: </span><span>{{ user.phoneNumber }}</span>
  </h6>
</div>

<div *ngIf="user" class="container text-center">
  <!-- Toggle options -->
  <div class="btn-group d-flex" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked (click)="showCurrentAppointments()" />
    <label class="btn btn-outline-dark w-100" for="btnradio1">Current Appointments</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (click)="showAppointmentsHistory()" />
    <label class="btn btn-outline-dark w-100" for="btnradio2">Appointments History</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" (click)="showAppointmentPosts()" />
    <label class="btn btn-outline-dark w-100" for="btnradio3">Appointment Posts</label>

    <ng-container *ngIf="displayOwnedFields()">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" (click)="showOwnedFields()" />
      <label class="btn btn-outline-dark w-100" for="btnradio4">Owned Fields</label>
    </ng-container>
  </div>

  <!-- Current Appointments -->
  <app-profile-current-appointments *ngIf="selectedOption === ProfileOptionsType.CURRENT_APPOINTMENTS" [username]="user.username" />

  <!-- Appointments History -->
  <app-profile-appointments-history *ngIf="selectedOption === ProfileOptionsType.APPOINTMENTS_HISTORY" [username]="user.username" />

  <!-- Appointment Posts -->
  <app-profile-appointment-posts *ngIf="selectedOption === ProfileOptionsType.APPOINTMENT_POSTS" [username]="user.username" />

  <!-- Owned Sport Fields -->
  <app-profile-owned-fields *ngIf="selectedOption === ProfileOptionsType.OWNED_FIELDS" [username]="user.username" />
</div>
