<!-- HEADER -->
<div *ngIf="user" class="container-fluid border-bottom bg-light text-center p-5">
  <h1 class="fst-italic fw-bold mb-5">{{ user.lastName + " " + user.firstName }}</h1>
  <h6>
    <span class="fst-italic fw-bold">Username: </span><span>{{ user.username }}</span>
  </h6>
  <h6>
    <span class="fst-italic fw-bold">Email: </span><span>{{ user.email }}</span>
  </h6>
  <h6>
    <span class="fst-italic fw-bold">Phone number: </span><span>{{ user.phoneNumber }}</span>
  </h6>
</div>

<div *ngIf="currentAppointments" class="container text-center">
  <!-- Toggle options -->
  <div class="btn-group d-flex" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked (click)="showCurrentAppointments()" />
    <label class="btn btn-outline-dark w-100" for="btnradio1">Current Appointments</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (click)="showAppointmentsHistory()" />
    <label class="btn btn-outline-dark w-100" for="btnradio2">Appointments History</label>

    <ng-container *ngIf="displayOwnedFields()">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" (click)="showOwnedFields()" />
      <label class="btn btn-outline-dark w-100" for="btnradio3">Owned Fields</label>
    </ng-container>
  </div>

  <!-- Current Appointments -->
  <div
    *ngIf="selectedOption === ProfileOptionsType.CURRENT_APPOINTMENTS"
    class="p-5 row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3"
  >
    <div class="col p-0" *ngFor="let appointment of currentAppointments">
      <app-appointment-card
        [appointment]="appointment"
        [isCurrent]="true"
        [forProfile]="true"
        (prepareCancelAppointment)="onPrepareCancelAppointment($event)"
        (cancelAppointment)="onCancelAppointment()"
        (newAppointmentPost)="onNewAppointmentPost($event)"
      ></app-appointment-card>
    </div>
  </div>

  <!-- Appointments History -->
  <div
    *ngIf="selectedOption === ProfileOptionsType.APPOINTMENTS_HISTORY"
    class="p-5 row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3"
  >
    <div class="col p-0" *ngFor="let appointment of appointmentsHistory">
      <app-appointment-card [appointment]="appointment" [isCurrent]="false" [forProfile]="true"></app-appointment-card>
    </div>
  </div>

  <!-- Owned Sport Fields -->
  <div
    *ngIf="selectedOption === ProfileOptionsType.OWNED_FIELDS"
    class="p-5 row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-3"
  >
    <div class="col p-0" *ngFor="let sportField of ownedFields">
      <app-sport-field-card
        [sportField]="sportField"
        [forProfile]="true"
        (prepareDeleteField)="onPrepareDeleteField($event)"
        (deleteField)="onDeleteField()"
      ></app-sport-field-card>
    </div>
  </div>
</div>
