<div class="card text-white bg-dark m-2 h-100">
  <img
    [src]="
      sportField.primaryImage ? 'data:image/jpeg;base64,' + sportField.primaryImage.byteArray : '../../../../assets/images/sport_field_no_image.jpg'
    "
    class="card-img-top"
    alt="Sport Field image"
  />
  <div class="card-body pb-0">
    <h5 class="card-title fst-italic">{{ sportField.name }}</h5>
    <p class="card-text">
      {{
        "Address: " +
          sportField.address.country +
          ", " +
          sportField.address.city +
          ", " +
          sportField.address.street +
          ", " +
          sportField.address.number
      }}
    </p>
  </div>
  <div class="card-footer text-center">
    <small class="fw-bold fst-italic">{{ sportField.pricePerHour + "$ / hour" }}</small>
  </div>
  <div class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.2)">
    <a class="btn btn-outline-light btn-floating mt-2 mb-2" [routerLink]="['/sport-field', sportField.id]" role="button">Visit</a>
  </div>
</div>
