<div
  *ngIf="renderComponent()"
  class="p-text-center bg-image"
  [style.background-image]="'url(' + getBackgroundImage() + ')'"
  style="background-position: center; height: 400px"
>
  <div class="mask p-5" style="background-color: rgba(0, 0, 0, 0.6); width: 100%; height: 100%">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white text-center">
        <h1 class="mb-4">All for sport</h1>
        <h4 class="mb-3 fst-italic">"You win some, you lose some, and some get rained out, but you gotta suit up for them all" - J. Askenberg</h4>
      </div>
    </div>
  </div>
</div>
