.form-floating {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

div.card {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

div.bg-image {
  background-image: url("../../../../assets/images/home_image_2.jpeg");
  background-position: center;
  object-fit: cover;
}
