<div class="p-5 m-5">
  <div class="card text-center">
    <div class="card-header bg-dark text-white">Add New Sport Field</div>

    <div class="card-body container">
      <form>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="nameInput" placeholder="Name" />
          <label for="nameInput">Name</label>
        </div>

        <div class="form-floating mb-3">
          <textarea class="form-control" placeholder="Description" id="descriptionTextarea"></textarea>
          <label for="descriptionTextarea">Description</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="countryInput" placeholder="Country" />
          <label for="countryInput">Country</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="cityInput" placeholder="City" />
          <label for="cityInput">City</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="streetInput" placeholder="Street" />
          <label for="streetInput">Street</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="numberInput" placeholder="Number" />
          <label for="numberInput">Number</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="priceInput" placeholder="Price ($)" />
          <label for="priceInput">Price ($)</label>
        </div>
      </form>
    </div>

    <div class="card-footer bg-dark text-white">
      <button class="btn btn-outline-light btn-floating m-1" (click)="newSportField()">Submit</button>
    </div>
  </div>
</div>
